<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <input type="search" ng-model="searchTerm" ng-model-options="{ debounce: 500 }" placeholder="Type to start searching"/>
    		<input type="submit" ng-click="search()" value="Search" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span id="message" ng-class='{label: true, "label-info": isInfo, "label-danger": isError}'>{{messageText}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li ng-repeat="repo in repositories">
                    <a href="{{repo.html_url}}">{{repo.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>